@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Zen+Maru+Gothic&display=swap');
*
/* , *::before,
*::after */
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    /* overflow: hidden; */
}
:root{
    --primary-color:#FF5301;
    --box-shadow:0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
/* split the navBar and the main content */
.main-container{
    display: flex;
}
.main-container .split{
    flex: 1;
}
.main-container .split:last-child{
    flex-grow: 5;
}
.main-content-container{
    width: 100%;
    /* background-color: cadetblue; */
}

/* side navBar CSS */
.side-navbar{
    /* background-color: aqua; */
    height: 100%;
}
.menu-container{
    margin:50px 10px 10px 10px;
}
.menu-container a{
    text-decoration: none;
    color:#28282B;
}
.menu-container a:hover{
    color: #28282B;
}
.menu-container ul{
    list-style-type: none;
}
.menu-container ul li{
    padding:10px;
    font-weight: 500;
    /* margin-right:30px; */
    margin-bottom: 20px;
    transition: all .2s;
}
.menu-container ul li:hover{
    font-weight: bold;
    cursor: pointer;
    /* background-color: #ff510179; */
    border-left: 5px solid #ff510179;
}

.left-border-activated{
    border-left: 5px solid #ff510179;
}


/* logo css */
/* .logo-container{
    width: 100%;
    padding: 10px;
} */
.logo-image{
    width:200px;
    height: 80px;
    padding: 10px;
    margin: 0 auto;
}
.logo-image .logo-img{
    width:100%;
    height: 100%;
    object-fit: contain;
}
/* Logout CSS */
.logout-container{
    position: absolute;
    top: 20px;
    right: 30px;
}

.logout-container .avatar{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius:50% ;
    overflow: hidden;
    cursor: pointer;
}
.logout-container .avatar img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logout-container .logout-menu{
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #fff;
    width: 180px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.logout-container .logout-active{
    top: 80px;
    visibility: visible;
    opacity: 1;
}

.logout-container .logout-menu h3{
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2em;
}

.logout-container .logout-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 25px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
}

.logout-container .logout-menu ul li{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
}
.logout-container .logout-menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}
.logout-container .logout-menu ul li:hover a{
    color: #ff510179;
}
.side-navbar i{
    margin-right: 5px ;
}




/* menu icon */
.side-navbar .hamburger--emphatic-r{
    display: none;
}

/* responsive Menu */

@media (max-width: 820px)  {
    .main-container{
        display: block;
    }
    .side-navbar .hamburger--emphatic-r{
        display: block;
        /* height: 40px; */
        z-index: 10;
    }
    .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
        width: 35px !important;
        z-index: 2 !important;
    }
    .hamburger.is-active:hover{
        opacity: 1 !important;
    }
    .side-navbar nav{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(162, 246, 162);
        
    }
    .logo-image{
        width:100px;
        height: 50px;
        padding: 5px;
        margin: 0;
    }
    .logout-container{
        position: relative;
        top: 0;
        right: 5px;
        
    }
    .side-navbar .menu-container{
        position: absolute;
        /* top: 60px; */
        top: 0;
        width: 100%;
        margin: 0;
        background-color: rgba(255, 255, 255,0.20);
        backdrop-filter: blur(8px);
        /* background-color: #1010cc; */
        border-radius: 20px;
        z-index: 5;
        margin-left: -100%;
        transition: all .4s;
        height: 100%;
    }
    .menu-is-active{
        margin-left: 0 !important;
    }

    .menu-container ul li i{
        display: none;
    }
    .menu-container ul li{
        border-left: none !important;
    }

    .menu-container ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: red; */
        padding: 80px;
        border-radius: 20px;

    }
}
/* ------------------
    Dashboard CSS
   ------------------
*/
.main-content-container{
    /* background-color: rgb(255, 196, 238); */
    width: 100%;

}
.card-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10rem .4rem;
    background-color: #11CDEF;
    /* background-color: red; */
}
.card-container .card{
    min-height: 1px;
    max-width: 25%;
    flex: 0 0 25%;

    /* background-color: red; */
    
    
}
.card .card-body{
    background-color: #fff;
    padding: 10px;
    margin: 8px;
    border-radius: 10px;
}

@media (max-width:1370px) {
    .card-container .card{
        max-width: 50%;
        flex: 0 0 50%;
    }
}
@media (max-width:820px){
    .card-container{
        padding: 3rem .4rem;
    }
}

@media (max-width:590px) {
    .card-container .card{
        max-width: 100%;
        flex: 0 0 100%;
    }
}

.card-body .card-content{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
    /* background-color: green; */
}

.card-content .card-title{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.card-content .card-title h5{
    color: #8898aa;
    text-transform: uppercase;

}
.card-content .card-title span{
    font-weight: 600;
    font-size: 1.4rem;
}
.card-content .card-icon{
    padding: 12px 15px;
    text-align: center;
    border-radius: 50%;
}
.card-content .card-icon i{
    color: #fff;
    font-size: 1.5rem;
}
.clr-pink{background-color: #f5365c;}
.clr-orange{background-color: #fb6340;}
.clr-yellow{background-color: #ffd600;}
.clr-lightBleu{background-color: #11CDEF;}

.container-chart{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    /* background-color: violet; */
    margin-top: -25px;

}
.container-chart .bg-chart{
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-width: 100%;
    border-radius: 10px;
    background-color: rgb(255, 210, 168);
    /* background: linear-gradient(87deg,#485a78,#3a34af); */
}

.bg-chart .chart-header{
    margin-left: 10px;
    margin-right:10px;
    display: flex;
}
.chart-header .chart-header-content{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.chart-header-content h6{
    color: #a1a2a4;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 3px;
}
.chart-header-content h2{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}
.chart-body{padding: 1rem;}

.chart{
    position: relative;
    height: 350px;
    width: 95%;
}
.main-container .footer footer{
    padding: 10rem;
}
/* ------------------
    Orders CSS
   ------------------
*/
.orderHeader{
    padding-top: 1.5rem;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 12rem;
    background-color: #11CDEF;
}
.orderHeader h3{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.table-container{
    /* background-color: rgb(70, 139, 135); */
    width: 100%;    
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -5rem;
    display: flex;
    flex-wrap: wrap;
}
.bg-table{
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    border-radius: 8px;
    margin: 0 auto;
    min-width: 1px;
    position: relative;
    background-color: #fff;
    height: fit-content;
    box-shadow:0 6px 9px rgb(50 50 93 / 35%), 0 1px 3px rgb(0 0 0 / 10%) ;
}
.bg-table .table-header{
    padding: 1.25rem 1.5rem;
    /* background-color: brown; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    

}
.table-header .title{
    flex: 0 0 60%;
    max-width: 60%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
}

.table-header .btn-create{
    flex: 0 0 40%;
    max-width: 40%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
    width: 100%;
    position: relative;
}
.btn-create a{
    font-size: .75rem;
    letter-spacing: 0.025rem;
    color: #fff;
    background-color: #5e72e4;
    border-color: #5e72e4;
    border-radius: 5px;
    box-shadow:0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%) ;
    padding: 0.4rem 0.5rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all .3s ;
    position: relative;
    
}
.btn-create a:hover{
    transform: translateY(-1px);
}

.bg-table .table-wrapper{
    max-width: 100%;
    background:#fff;
    font-size: 14px;
    color: rgb(0,0,0,0.85);
    border-radius: 2px;
    position: relative;
}
.table-wrapper .table{
    overflow: auto scroll;

}
.table table{
    width: auto;
    min-width: 100%;
    table-layout: fixed;
    text-align: left;
    border-spacing: 0;
    border-radius: 2px 2px 0 0;
    color: rgb(0,0,0,0.85);
    border-collapse: initial;
    font-feature-settings: "tnum","tnum";
}
.table table thead{
    /* background-color: red; */
}
.table table>thead>tr:first-child th:first-child{
    border-top-left-radius: 2px;
}
.table thead>tr>th{
    background: #fafafa;
    /* background-color: #11CDEF; */
    border-bottom: 1px solid #f0f0f0;
    color: rgba(0,0,0,0.85);
    font-weight: 500;
    position: relative;
    text-align: left;
    padding: 16px;
    overflow-wrap: break-word;
}
.table thead th:not(:last-child)::before{
    content: "";
    position: absolute;
    width: 1px;
    height: 1.5rem;
    background-color: rgba(0,0,0,.1);
    top: 50%;
    right: 0;
    transform: translateY(-50%);

}

.table tbody>tr>td{
    border-bottom: 1px solid #f0f0f0;
    overflow-wrap: break-word;
    padding: 16px;
    position: relative;
    border-collapse: initial;
    border-spacing: 0;
    text-align: left;
    line-height: 1.6;
    color: rgb(0,0,0,0.85);
}
.table tbody>tr:hover{
    background:#fafafa ;
}
.dropDown-btn{
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: .75rem;
    color: #ced4da;
    position: relative ;
    border-radius: 6px;
    /* background-color: #11CDEF; */
}


.dropDown-btn:hover{
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    transform: translateY(-1px);
}
.action-container{
    position: relative;
    /* top: 30px; */
    z-index: 2;
}
.action-container ul{
    position: absolute;
    /* top: 22px; */
    left: -82px;
    /* bottom: -125px; */
    /* right: 35px; */
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #fff;
    /* background-color: #e2be76; */
    width: 115px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 5px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.action-container ul li{
    list-style: none;
    padding: 5px 0 10px 0;
}
.action-container ul li a{
    text-decoration: none;
    color: rgb(0,0,0,0.85);
}
.action-container ul li a:hover{color: #5e72e4;}
.action-active{
    /* top: 22px !important; */
    visibility: visible !important;
    opacity: 1 !important;
    
}
/* .sticky-col{
    position: sticky !important;
    z-index: 1;
    right: 0;
    background-color: #fff;
} */
.cat-tab thead tr th:first-child,
.cat-tab tbody tr td:first-child{
    width: 90%;
}
.admin-food-img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: var(--box-shadow);
}
.admin-food-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form-wrapper{
    padding:1.5rem ;
    background-color:#f7fafc !important;
}

.form-wrapper form h6{
    font-size: 0.75rem;
    letter-spacing: .04rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-transform:uppercase ;
    color: #8898aa;
    margin-bottom: 1.5rem;
}
.form-wrapper .form-group{
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 1.5rem;
}
.form-wrapper .form-group label{
    color: #525f7f;
    font-size: .875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.form-wrapper .form-group input[type="text"],
.form-wrapper .form-group select{
    width: 100%;
    font-size: 16px;
    padding: 6.5px 11px;
    border: 0;
    transition: box-shadow .15s ease;
    text-overflow: ellipsis;
    color: rgba(0,0,0,.85);
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    border-radius: 2px;
    line-height: 1.57;
}
.form-wrapper .form-group input[type="text"]:focus,
.form-wrapper .form-group #foodDropdown:focus{
    border-color: #40a9ff;
    border-right-width: 1px!important;
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    outline: 0;    

}
@media (max-width:450px){
    .bg-table .flx-col{
        flex-direction: column;
        align-items: flex-start;
    }
    .bg-table .flx-col .btn-create{
        max-width: 100%;
    }
    .contCombo div{margin-bottom: 10px;}
}

.upload-container img{
    max-width: 100%;
}
.box{
    padding: 0.5em;
    width: 100%;
    margin: 0.5em;
}
.box-2{
    padding: 0.5em;
    /* width: calc(100%/2 - 1em); */
}
.hide{display: none !important;}
/* inout file css start */
.custom-file-input::-webkit-file-upload-button {
    /* visibility: hidden; */
    display: none;
  }
.custom-file-input::before {
    content: 'Upload';
    outline: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    color: rgba(0, 0, 0, .85);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    height: 32px;
    line-height: 1.5715;
    padding: 4px 15px;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    transition: all .3s cubic-bezier(.645, .045, .355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.custom-file-input:hover::before {
    background: #fff;
    border-color: #40a9ff;
    color: #40a9ff;
}
/* end */
.btn-save{
    color: rgb(253, 251, 248);
    background-color: rgb(92, 150, 73);
    border-color: rgb(70, 142, 70);
    /* display: inline-block; */
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}
.btn-save:hover{
    color: rgb(253, 251, 248);
    background-color: rgb(69, 143, 69);
    border-color: rgb(75, 156, 75);
}
.result-style
,.img-result{
    width:300px;
    height: 200px;
}
.result img,
.img-result img{
    width: auto;
    height: 100%;
    object-fit: contain;
}
.d-flx{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.d-flx .box-2{
    flex: 0 1 50%;
    /* max-width: 50%; */
}
@media (max-width:985px) {
    .d-flx .box-2{
        flex: 0 0 100%;
        background-color: red;
    }   
}
@media (max-width:485px){
    .result-style,
    .img-result {
        width: 200px;
        height: 200px;
    }
}
@media (max-width:370px){
    .result-style,
    .img-result {
        width: 150px;
        height: 150px;
    }
}

.upload-trash-icon i{
    padding: 10px 0px;
    font-size: 18px;
    cursor: pointer;
}
.upload-trash-icon i:hover{color:red;} 

/* alert success and error CSS */
.alertBox{
    display: flex;
    align-items: center;
    word-wrap: break-word;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    line-height: 1.5715;
    margin-bottom: 16px;
    margin-left: auto;
    max-width: calc(100vw - 48px);
    overflow: hidden;
    padding: 16px 24px;
    width: 384px;
    margin-right: 20px;
    transition: all .5s;
    position: absolute;
    bottom: 20px;
    left: -100%;
    z-index: 1;
}
/* .alertBox i{
    color: rgb(69, 143, 69);
    font-size: 26px;
    flex: 0 0 15%;
} */
.alert{
    flex: 0 0 85%;
}
.alert :is(h4,h6){
    font-weight: 500;
}
.alert-active{
    left:10px;
}
